<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>hack_proj1</servlet-name>
        <servlet-class>hackathon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>yeah!</servlet-name>
        <servlet-class>UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSendingServlet</servlet-name>
        <servlet-class>EmailSendingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSendingServlet1</servlet-name>
        <servlet-class>EmailSendingServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hack_proj1</servlet-name>
        <url-pattern>/hack_proj1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>yeah!</servlet-name>
        <url-pattern>/yeah!</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSendingServlet</servlet-name>
        <url-pattern>/EmailSendingServlet</url-pattern>
    </servlet-mapping>
    <display-name>EmailSendingWebApp</display-name>
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>nuraannasarp2810@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>PRasanna@1</param-value>
    </context-param>
    <!-- <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>EmailForm.jsp</welcome-file>
    </welcome-file-list>-->
    <servlet-mapping>
        <servlet-name>EmailSendingServlet1</servlet-name>
        <url-pattern>/EmailSendingServlet1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
